<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="p16dbg.UI.Windows.UserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="p16dbg.UI.Windows.UserInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="UpdateFile" value="VersionInfo.xml" />
    <add key="UpdateURL" value="http://pwp.net.ipl.pt/alunos.isel/27394/p16dbg/Update" />
    <add key="ExcludedFileExtensions" value=".pdb;.bak;.manifest;.application" />
    <add key="ExcludedFiles" value="p16dbg.vshost.exe;p16dbg.vshost.exe.config;p16dbg.vshost.exe.manifest" />
    <add key="UpdateStubFiles" value="p16dbg.UI.Windows.UserInterface.p16dbg.AutoUpdater.Stub.exe;p16dbg.UI.Windows.UserInterface.p16dbg.AutoUpdater.Stub.exe.config" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <p16dbg.UI.Windows.UserInterface.Properties.Settings>
      <setting name="ToolStrip1Position" serializeAs="String">
        <value>301, 25</value>
      </setting>
      <setting name="ToolStrip3Position" serializeAs="String">
        <value>377, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>782, 399</value>
      </setting>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Maximized</value>
      </setting>
      <setting name="BreakPointCodeColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="BreakPointDataLoadColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="BreakPointDataStoreColor" serializeAs="String">
        <value>Fuchsia</value>
      </setting>
      <setting name="CommentColor" serializeAs="String">
        <value>0, 192, 0</value>
      </setting>
      <setting name="DirectiveColor" serializeAs="String">
        <value>Gray</value>
      </setting>
      <setting name="TextColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="InstructionColor" serializeAs="String">
        <value>0, 0, 192</value>
      </setting>
      <setting name="LabelColor" serializeAs="String">
        <value>128, 128, 255</value>
      </setting>
      <setting name="NumberColor" serializeAs="String">
        <value>255, 128, 0</value>
      </setting>
      <setting name="OperatorColor" serializeAs="String">
        <value>192, 192, 0</value>
      </setting>
      <setting name="RegisterColor" serializeAs="String">
        <value>255, 128, 128</value>
      </setting>
      <setting name="SelectionColor" serializeAs="String">
        <value>Lime</value>
      </setting>
      <setting name="StringColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="WriteTimeout" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="ReadTimeout" serializeAs="String">
        <value>3000</value>
      </setting>
    </p16dbg.UI.Windows.UserInterface.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <p16dbg.UI.Windows.UserInterface.Properties.Settings>
      <setting name="DebugWindowFont" serializeAs="String">
        <value>Consolas, 9pt</value>
      </setting>
    </p16dbg.UI.Windows.UserInterface.Properties.Settings>
  </applicationSettings>
</configuration>